regels-API/src/main/configurations/RegelsAPI/Common/xsd/regelsOutput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="regels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="regel" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="regelNaam" maxOccurs="1"/>
              <xs:element type="xs:date" name="startDatum" maxOccurs="1"/>
              <xs:element type="xs:date" name="eindDatum" maxOccurs="1"/>
              <xs:element type="xs:integer" name="startLeeftijd" maxOccurs="1"/>
              <xs:element type="xs:integer" name="eindLeeftijd" maxOccurs="1"/>
              <xs:element type="xs:string" name="plaats" maxOccurs="1"/>
              <xs:element type="xs:integer" name="inkomenTot" maxOccurs="1"/>
              <xs:element type="xs:integer" name="woonkostenTot" maxOccurs="1"/>
              <xs:element type="xs:integer" name="vermogenTot" maxOccurs="1"/>
              <xs:element type="xs:string" name="regelExecutie" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>